<div class="conteiner">
    <div id="agregar" class="row align-items-center hero">
        <div class="row">
            <div class="col-6 offset-2">
                <h4>Agregar una novedad</h4>
                <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="titulo" name="titulo"
                            style="margin-top: 30px">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Subtitulo" name="subtitulo"
                            style="margin-top: 30px"></textarea>
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"
                            style="margin-top: 30px"></textarea>
                    </div>
                    <div class="form-group" style="margin-top: 30px;">
                        <label>Imagen: <input type="file" class="form-control" name="imagen" id="imagen" style="margin-top: 15px;"></label>
                    </div>
                    <button type="submit" class="btn btn-warning" style="margin-top: 40px;">Guardar</button>
                </form>
                {{#if error}}
                <h5> {{message}} </h5>
                {{/if}}
            </div>
        </div>
    </div>