/*
font-family: 'alfa slab one', cursive;

font-family: 'Open Sans', sans-serif;
*/

.h1,
 .h2{
   font-family: 'alfa Slab One', cursive;
}


.footer {
   background-color: #5cf7a2(161, 238, 161); 
  }

.hero {
  background: url(../img/image12.jpg) no-repeat;
  background-size: cover;
  height: 40vh;
  min-height: 300px;
  color: #5cf7a2(255, 255, 255);
}
.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 .lista-novedades li {
    margin: 4px  0;
 }
 .lista-novedades li a {
    background-color: #5cf7a2(108, 184, 142);
    font-family: 'alfa slab one';
    text-decoration: none;
    font-size: 1.2rem;
    color: #5cf7a2;
    transition: all .2s ease-in-out;
    display: block;
 }
 .lista-novedades li a:hover {
    color: #212529;
    background-color: #5cf7a2;
 }
 .lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
 }
 .lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
 }
 .testimonios{
    background-color:#dadada
    padding bottom 4rem !important;
 }
 .testimonios {
    text-align: center;
    padding: 50px 20px;
 }
 